<div class="banner new d-flex pt-5 justify-content-center">
  <h1 class = "text-center my-3">Create a new cocktail</h1>
</div>

<%= render 'form' %>

<div class= "d-flex justify-content-center my-5">
  <%= link_to '⃪back to cocktails', cocktails_path, class: 'btn btn-primary mr-4'%>
