.new {
  background-color: #428bca;
}

#cocktail_photo {
  border: 0.5px solid rgb(220, 220, 220);
  padding: 20px, 30px;
}

label {
  font-size: 24px;
  color: #428bca;
}

.form {
  margin-top: -110px;
  background-color: white;
  padding: 30px;
  border-radius: 7px;
  width: 500px;
}
