// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: $cabin;
  font-size: 60px;
  color: white;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.icon {
  font-size: 150px;
}

h2 {
  font-weight: bold;
}

body {
  background-color : rgb(50, 50, 60);
}
